<%- include('partials/header') %>

  <div class="flex-card">
    <%Posts.forEach(function(Post){%>
      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%=Post.companyName%></h5>
        <h6><%=Post.industry%></h6>
        <%let culture = Post.culture && Post.culture.substring(100)+"..."; %>
        <p class="card-text">
          <%culture%>
        </p>
        <a href="/our-ctc/<%=Post._id%>" class="btn btn-primary">Read More</a>
      </div>
      </div>
    <%});%>
  </div>

<%- include('partials/footer') %>
