<%- include('partials/header') %>
<div class="col d-flex justify-content-center">
  <div class="card" style="margin-top: 1rem; width: 90%;">
    <div class="card-body">
      <h5 class="card-title"><%=Post.companyName%></h5>
      <h6>Industry: <%=Post.industry%></h6>
      <h6><%=Post.designation%></h6>
      <h6><%=Post.education%></h6>
      <h6><%=Post.yearOfJoining%></h6>
      <h6><%=Post.experience%></h6>
      <h6><%=Post.ctc%></h6>
      <h6><%=Post.workingHours%></h6>
      <h6><%=Post.perks%></h6>
      <p class="card-text"><%=Post.culture%></p>
      <p class="card-text"><%=Post.friends%></p>
      <p class="card-text"><%=Post.value%></p>
      <p class="card-text"><%=Post.staffing%></p>
      <p class="card-text"><%=Post.load%></p>
      <p class="card-text"><%=Post.promotion%></p>
      <p class="card-text"><%=Post.happy%></p>
      <p class="card-text"><%=Post.misc%></p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
